---
import ButtonLink from "./ButtonLink.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import GitIcon from "./icons/GitIcon.astro";
import Next from "./icons/Next.astro";
import PreviewIcon from "./icons/PreviewIcon.astro";
import ReactIcon from "./icons/ReactIcon.astro";
import Tailwind from "./icons/Tailwind.astro";
import TagPill from "./TagPill.astro";

const TAGS = {
  NEXT: {
    title: "Next.js",
    class: "bg-black text-white  ",
    icon: Next,
  },
  TAILWIND: {
    title: "Tailwind css",
    class: "bg-[#003159] text-white  ",
    icon: Tailwind,
  },
  REACT: {
    title: "React",
    class: "bg-[#58C4DC] text-black",
    icon: ReactIcon,
  },
  ASTRO: {
    title: "Astro",
    class: "bg-orange-300 text-black",
    icon: AstroIcon,
  },
};
const PROJECTS: Projects[] = [
  {
    title: "Ecomerce",
    description:
      "Un e-commerce totalmente funcional,con registro de usuario, proteccion de rutas y pagos mediante Paypal. Back end y front end en Next.js  y base de datos en Supabase.",
    link: "https://teslo-shop-taupe.vercel.app",
    github: "https://github.com/bielmc11/Teslo-shop",
    image: "/projects/e-comerce.webp",
    tags: [TAGS.NEXT, TAGS.REACT, TAGS.TAILWIND],
  },
  {
    title: "Astro Launches",
    description:
      "Web created with Astro. In this you will see both the latest launches from the space agency SpaceX and the next ones.",
    link: "https://launches-x-sage.vercel.app/",
    github: "https://github.com/bielmc11/LaunchesX",
    image: "/projects/astroLaunches.webp",
    tags: [TAGS.ASTRO, TAGS.TAILWIND],
  },
  {
    title: "Astro Books",
    description:
      "Una web construida con las bases de astro donde podemos ver recomendaciones de libros y sus detalles. En ella podemos ver 'View transitions', islas de servidor e islas de cliente.",
    link: "https://astro-books-pi.vercel.app/",
    github: "https://github.com/bielmc11/Astro-books",
    image: "/projects/astroBooks.webp",
    tags: [TAGS.ASTRO, TAGS.REACT],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ link, image, description, github, title, tags }) => (
      <article class="grid grid-cols-1 md:grid-cols-8 gap-x-6 text-start group">
        <div class="col-span-1 md:col-span-4 ">
          <div class="relative gap-8 transition duration-500 ease-in-out transform shadow-xl shadow-white/5 overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50 h-full">
            <img
              alt={`imagen del proyecto ${title}`}
              class="object-cover w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105"
              loading="lazy"
              src={image}
            />
          </div>
        </div>

        <div class="md:col-span-4 flex flex-col gap-y-4 mt-6 md:mt-0">
          <h3 class="text-xl text-amber-300 font-semibold text-pretty">
            {title}
          </h3>

          <ul class="flex gap-x-2">
            {tags.map((tag) => (
              <TagPill class={`${tag.class}`}>
                <tag.icon class="size-4" />
                {tag.title}
              </TagPill>
            ))}
          </ul>
          <p class="text-sm opacity-80 text-pretty">{description}</p>
          <footer class="flex flex-row gap-x-4 justify-start items-center">
            {github && (
              <ButtonLink href={github}>
                <GitIcon class="size-4" />
                Code
              </ButtonLink>
            )}
            {link && (
              <ButtonLink href={link}>
                <PreviewIcon class="size-4" />
                Preview
              </ButtonLink>
            )}
          </footer>
        </div>
      </article>
    ))
  }
</div>
