---
import TagPill from "../TagPill.astro";
import Tailwind from "../icons/Tailwind.astro";
import ReactIcon from "../icons/ReactIcon.astro";
import Next from "../icons/Next.astro";

interface Props {
  title: string;
  description: string;
  link: string;
  github: string;
  image: string;
  tags: any[];
}
const { title, description, link, github, image, tags } = Astro.props;


---

<article class="grid grid-cols-1 md:grid-cols-7 gap-x-6 text-start">
  <div class="col-span-1 md:col-span-3">
    <img
      src={image}
      alt={`imagen del proyecto ${title}`}
      class="rounded-lg shadow-2xl shadow-white/10"
    />
  </div>

  <div class="md:col-span-4 flex flex-col gap-y-4">
    <h3 class="text-xl text-amber-300 font-semibold text-pretty">{title}</h3>

    <ul class="flex gap-x-2">
      
      {
        tags.map((tag) => (
          <TagPill class={``}>
            < tag.icon />
            {tag.title}
          </TagPill>
        ))
      }
    </ul>
    <p class="opacity-80">{description}</p>
  </div>
</article>
